*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
/* styles start from here */
.resume-and-name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;

}
.name-resume-sect{
    border: 2px solid red;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1440px;
    height: 150px;
}
.name-resume-sect h1{
    margin-left: 103px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
#resumebtn button{
    margin-right: 103px ;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(14, 20, 34);
    border-radius: 8px;
    opacity: 0.6;
}
/* future web development banner start here */
.future-web-banner-container{
    width: 1440px;
    height: 652px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: url('/assets/Hero-bg.png');
    background-blend-mode: overlay;
    border: 2px solid red;
    margin-bottom: 50px;
}
.future-web-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    height: 581px;
    position: relative;
    margin-top: 32px;
}
.future-web-banner-image{
    width: 240.28px;
    height: 240px;
    position: absolute;
    top: 30px;
    margin-bottom: 24px;
}
.future-web-banner-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    width: 998px;
    height: 136px;
    position: absolute;
    bottom: 175px;
    text-align: center;
}
.future-web-banner-content p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 101px;
    text-align: center;
}
#connectbtn button{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    bottom: 32px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: 0 auto;
}
/* why web development section start here */
.why-development-container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    width: 1140px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.why-dev-header{
    width: 852px;
    height: 113px;
    margin: 48px 0px;
}
.why-dev-header h1{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.why-dev-header p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
/* main body style start here */
.main-content-start{
    border: 2px solid red;
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}
/*  section one styele starts here */
.section-one-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
    border: 1px solid red;
}
.section-one-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 477px;
    height: 219px;
}
.section-one-content h2{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 80px;
}
.section-one-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
#learn-sect-one button{
    width: 171px;
    height: 47px;
    margin-right: 298px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}
.section-one-image img{
    width: 259.56px;
    height: 217.01px;
}
/* section 2 styling starts here */
.section-two-container{
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
    border: 1px solid red;
}
.section-two-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 477px;
    height: 219px;
}
.section-two-content h2{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 80px;
}
.section-two-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
#learn-sect-tow button{
    width: 171px;
    height: 47px;
    margin-right: 298px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}
.section-two-image img{
    width: 259.56px;
    height: 217.01px;
}
/* scetion 3 style is starting here */
.section-three-container{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
    border: 1px solid red;
}
.section-three-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 477px;
    height: 219px;
}
.section-three-content h2{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 80px;
}
.section-three-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
#learn-sect-three button{
    width: 171px;
    height: 47px;
    margin-right: 298px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}
.section-three-image img{
    width: 259.56px;
    height: 217.01px;
}