*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
/* styles start from here */
.resume-and-name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;

}
.name-resume-sect{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1440px;
    height: 150px;
}
.name-resume-sect h1{
    margin-left: 103px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
#resumebtn button{
    margin-right: 103px ;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(14, 20, 34);
    border-radius: 8px;
    opacity: 0.6;
}
/* future web development banner start here */
.future-web-banner-container{
    width: 1440px;
    height: 652px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    background-image: url('../assets/Hero-bg.png');
    background-blend-mode: overlay;
    margin-bottom: 50px;
}
.future-web-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    height: 581px;
    position: relative;
    margin-top: 32px;
}
.future-web-banner-image{
    width: 240.28px;
    height: 240px;
    position: absolute;
    top: 30px;
    margin-bottom: 24px;
}
.future-web-banner-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    width: 998px;
    height: 136px;
    position: absolute;
    bottom: 175px;
    text-align: center;
}
.future-web-banner-content p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 101px;
    text-align: center;
}
#connectbtn button{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    bottom: 32px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: 0 auto;
}
/* why web development section start here */
.why-development-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    width: 1140px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.why-dev-header{
    width: 852px;
    height: 113px;
    margin: 48px 0px;
}
.why-dev-header h1{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.why-dev-header p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
/* main body style start here */
.main-content-start{
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}
/*  section one styele starts here */
.section-one-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
}
.section-one-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 477px;
    height: 219px;
}
.section-one-content h2{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 80px;
}
.section-one-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
#learn-sect-one button{
    width: 171px;
    height: 47px;
    margin-right: 298px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}
.section-one-image img{
    width: 259.56px;
    height: 217.01px;
}
/* section 2 styling starts here */
.section-two-container{
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
}
.section-two-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 477px;
    height: 219px;
}
.section-two-content h2{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 80px;
}
.section-two-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
#learn-sect-tow button{
    width: 171px;
    height: 47px;
    margin-right: 298px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}
.section-two-image img{
    width: 259.56px;
    height: 217.01px;
}
/* scetion 3 style is starting here */
.section-three-container{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
}
.section-three-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 477px;
    height: 219px;
}
.section-three-content h2{
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: 80px;
}
.section-three-content p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
#learn-sect-three button{
    width: 171px;
    height: 47px;
    margin-right: 298px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}
.section-three-image img{
    width: 259.56px;
    height: 217.01px;
}
/* my inspiration sectiion start here */
.my-inspiration-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    margin-top: 50px;
    height: 775px;
}
.my-inspiration-text{
    width: 852px;
    height: 113px;
    margin: 48px 0px;
}
.my-inspiration-text h1{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.my-inspiration-text p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.my-inspiration-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}
/* my current target style start here */
.my-skillset-target-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 1437px;
    margin: 0 auto;
    margin-top: 50px;
}
.mycurrent-target-content-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 460px;
    margin: 0 auto;
}

.mycurrent-target-content-header h1{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.mycurrent-target-content-header p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
/* current target skill div style start */
.my-current-target-skills{
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: o auto;
}
.btnlearn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;}
.target-skill-content-html{
    width: 305px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    margin: 25px;
    padding: 28px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-skill-content-html img{
    width: 53.22px;
    height: 53.23px;
}
.target-skill-content-html h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.target-skill-content-html p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
/* style for css taget */
.target-skill-content-css{
    width: 305px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    margin: 25px;
    padding: 28px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-skill-content-css img{
    width: 53.22px;
    height: 53.23px;
}
.target-skill-content-css h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.target-skill-content-css p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
/* style js target */
.target-skill-content-js{
    width: 305px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    margin: 25px;
    padding: 28px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-skill-content-js img{
    width: 53.22px;
    height: 53.23px;
}
.target-skill-content-js h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.target-skill-content-js p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
/* my next target style start here */
.my-next-targeted-skills-container{
    width: 1140px;
    height: 866px;
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-items: center;
}
.my-next-target-content{
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-items: center;
    width: 852px;
    height: 37px;
    margin-bottom: 30px;
}
.my-next-target-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding: 8px;
}
.my-next-target-content p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
/* next target content detail style here */
.next-target-contents{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}
.imageforone img{
    width: 94.78px;
    height: 84.41px;
    margin: 30px;
}
.skills-desc{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
}
.skills-desc h1{
    width: 110px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.skills-desc p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.skills-desc span{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}
/* support secttion styling start here */
.need-support-sect-container{
    width: 1140px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}
.need-support-content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 730px;
    height: 104px;
    margin: 0 auto;
}
.need-support-content h1{
    width: 292px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.need-support-content p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    width: 606px;
    height: 52px;
    opacity: 0.6;
}
.form-section{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    margin: 0 auto;
}
.need-support-form{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 520px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.need-support-form label>input{
    width: 313px;
    height: 19px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 10px;
    border: none;
}
.form-section button{
    border: none;
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
button>input{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
    width: 80px;
    height: 23px;
    text-align: center
}


/* footer section style */
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: 1440px;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
}
.footer-container .contents{
    width: 456px;
    height: 23px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.social-link{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: right;
    margin: 0 auto;
}
.social-link .facebook{
    width: 13.25px;
    height: 28.25px;
}
.social-link .github{
    width: 36.86px;
    height: 35.95px;
}
.social-link .linkdin{
    width: 36px;
    height: 36px;
}

/*these are not need but i need to use why i ai'nt?
 .footer-container .social i{
    width: 157.01px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */
